In [1]:
import pandas as pd
import numpy as np

import re

In [2]:
cf = pd.read_csv('data/data.csv')

In [3]:
cf = cf.T
cf.rename(columns={0: "NET CASH FLOW"}, inplace=True)
cf = cf.iloc[1:]

In [4]:
cf['NET CASH FLOW'] = cf['NET CASH FLOW'].str.replace(',', '')
cf['NET CASH FLOW'] = pd.to_numeric(cf['NET CASH FLOW'], errors='coerce').fillna(0).astype('float')

In [5]:
m_irr = np.irr(cf['NET CASH FLOW'])

#Annualization
irr = ((1+m_irr)**12)-1
irr

C:\Users\f.viernes\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: numpy.irr is deprecated and will be removed from NumPy 1.20. Use numpy_financial.irr instead (https://pypi.org/project/numpy-financial/).
  """Entry point for launching an IPython kernel.

0.046055356605033904

## BINARY SEARCH ALGORITHM

In [6]:
def NPV_calculator(array, rate):
    npv = 0
    for i in range(len(array)):
        npv += array[i] / (1+rate)**i
    return npv

In [7]:
def binary_search(array, high, low):
    df = pd.DataFrame(columns=["Low", "Mid", "High", "NPV"],)
    high = high
    low = low
    mid = 0
    npv = -1
    #Check initial case:
    if high > low:
        mid = (high + low)/2
        npv =  NPV_calculator(array, mid)
        while not (npv == 0) and not (round(high,6) == round(low,6)):
            if npv < 0:
                high = mid
                mid = (high + low)/2
                npv = NPV_calculator(array, mid)
                df.loc[len(df)] = [low, mid, high, round(NPV_calculator(array, mid),4)]
            else:
                low = mid
                mid = (high + low)/2
                npv = NPV_calculator(array, mid)
                df.loc[len(df)] = [low, mid, high, round(NPV_calculator(array, mid),4)]                        
            #encode the last value
        df.loc[len(df)] = [low, mid, high, round(NPV_calculator(array, mid),4)]

    else:
        return "'High' must be greater than the 'low' parameter"
    return df

In [13]:
df = binary_search(cf['NET CASH FLOW'], 1,0)

   Low   Mid  High           NPV
0  0.0  0.25   0.5 -1.254718e+10

   Low    Mid  High           NPV
0  0.0  0.250  0.50 -1.254718e+10
1  0.0  0.125  0.25 -2.209588e+10

   Low     Mid   High           NPV
0  0.0  0.2500  0.500 -1.254718e+10
1  0.0  0.1250  0.250 -2.209588e+10
2  0.0  0.0625  0.125 -3.774892e+10

   Low      Mid    High           NPV
0  0.0  0.25000  0.5000 -1.254718e+10
1  0.0  0.12500  0.2500 -2.209588e+10
2  0.0  0.06250  0.1250 -3.774892e+10
3  0.0  0.03125  0.0625 -5.518180e+10

   Low       Mid     High           NPV
0  0.0  0.250000  0.50000 -1.254718e+10
1  0.0  0.125000  0.25000 -2.209588e+10
2  0.0  0.062500  0.12500 -3.774892e+10
3  0.0  0.031250  0.06250 -5.518180e+10
4  0.0  0.015625  0.03125 -6.317180e+10

   Low       Mid      High           NPV
0  0.0  0.250000  0.500000 -1.254718e+10
1  0.0  0.125000  0.250000 -2.209588e+10
2  0.0  0.062500  0.125000 -3.774892e+10
3  0.0  0.031250  0.062500 -5.518180e+10
4  0.0  0.015625  0.031250 -6.317180e+10
5  0.0  0.007812  0.015625 -4.954001e+10

   Low       Mid      High           NPV
0  0.0  0.250000  0.500000 -1.254718e+10
1  0.0  0.125000  0.250000 -2.209588e+10
2  0.0  0.062500  0.125000 -3.774892e+10
3  0.0  0.031250  0.062500 -5.518180e+10
4  0.0  0.015625  0.031250 -6.317180e+10
5  0.0  0.007812  0.015625 -4.954001e+10
6  0.0  0.003906  0.007812 -3.464762e+09

   Low       Mid      High           NPV
0  0.0  0.250000  0.500000 -1.254718e+10
1  0.0  0.125000  0.250000 -2.209588e+10
2  0.0  0.062500  0.125000 -3.774892e+10
3  0.0  0.031250  0.062500 -5.518180e+10
4  0.0  0.015625  0.031250 -6.317180e+10
5  0.0  0.007812  0.015625 -4.954001e+10
6  0.0  0.003906  0.007812 -3.464762e+09
7  0.0  0.001953  0.003906  6.584469e+10

        Low       Mid      High           NPV
0  0.000000  0.250000  0.500000 -1.254718e+10
1  0.000000  0.125000  0.250000 -2.209588e+10
2  0.000000  0.062500  0.125000 -3.774892e+10
3  0.000000  0.031250  0.062500 -5.518180e+10
4  0.000000  0.015625  0.031250 -6.317180e+10
5  0.000000  0.007812  0.015625 -4.954001e+10
6  0.000000  0.003906  0.007812 -3.464762e+09
7  0.000000  0.001953  0.003906  6.584469e+10
8  0.001953  0.002930  0.003906  2.405729e+10

        Low       Mid      High           NPV
0  0.000000  0.250000  0.500000 -1.254718e+10
1  0.000000  0.125000  0.250000 -2.209588e+10
2  0.000000  0.062500  0.125000 -3.774892e+10
3  0.000000  0.031250  0.062500 -5.518180e+10
4  0.000000  0.015625  0.031250 -6.317180e+10
5  0.000000  0.007812  0.015625 -4.954001e+10
6  0.000000  0.003906  0.007812 -3.464762e+09
7  0.000000  0.001953  0.003906  6.584469e+10
8  0.001953  0.002930  0.003906  2.405729e+10
9  0.002930  0.003418  0.003906  8.899223e+09

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08
13  0.003723  0.003754  0.003784  1.355806e+08

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08
13  0.003723  0.003754  0.003784  1.355806e+08
14  0.003754  0.003769  0.003784 -2.346549e+08

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08
13  0.003723  0.003754  0.003784  1.355806e+08
14  0.003754  0.003769  0.003784 -2.346549e+08
15  0.003754  0.003761  0.003769 -4.982681e+07

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08
13  0.003723  0.003754  0.003784  1.355806e+08
14  0.003754  0.003769  0.003784 -2.346549e+08
15  0.003754  0.003761  0.003769 -4.982681e+07
16  0.003754  0.003757  0.003761  4.280435e+07

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08
13  0.003723  0.003754  0.003784  1.355806e+08
14  0.003754  0.003769  0.003784 -2.346549e+08
15  0.003754  0.003761  0.003769 -4.982681e+07
16  0.003754  0.003757  0.003761  4.280435e+07
17  0.003757  0.003759  0.003761 -3.529354e+06

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08
13  0.003723  0.003754  0.003784  1.355806e+08
14  0.003754  0.003769  0.003784 -2.346549e+08
15  0.003754  0.003761  0.003769 -4.982681e+07
16  0.003754  0.003757  0.003761  4.280435e+07
17  0.003757  0.003759  0.003761 -3.529354e+06
18  0.003757  0.003758  0.003759  1.963296e+07

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08
13  0.003723  0.003754  0.003784  1.355806e+08
14  0.003754  0.003769  0.003784 -2.346549e+08
15  0.003754  0.003761  0.003769 -4.982681e+07
16  0.003754  0.003757  0.003761  4.280435e+07
17  0.003757  0.003759  0.003761 -3.529354e+06
18  0.003757  0.003758  0.003759  1.963296e+07
19  0.003758  0.003759  0.003759  8.050672e+06

         Low       Mid      High           NPV
0   0.000000  0.250000  0.500000 -1.254718e+10
1   0.000000  0.125000  0.250000 -2.209588e+10
2   0.000000  0.062500  0.125000 -3.774892e+10
3   0.000000  0.031250  0.062500 -5.518180e+10
4   0.000000  0.015625  0.031250 -6.317180e+10
5   0.000000  0.007812  0.015625 -4.954001e+10
6   0.000000  0.003906  0.007812 -3.464762e+09
7   0.000000  0.001953  0.003906  6.584469e+10
8   0.001953  0.002930  0.003906  2.405729e+10
9   0.002930  0.003418  0.003906  8.899223e+09
10  0.003418  0.003662  0.003906  2.406406e+09
11  0.003662  0.003784  0.003906 -6.025810e+08
12  0.003662  0.003723  0.003784  8.830445e+08
13  0.003723  0.003754  0.003784  1.355806e+08
14  0.003754  0.003769  0.003784 -2.346549e+08
15  0.003754  0.003761  0.003769 -4.982681e+07
16  0.003754  0.003757  0.003761  4.280435e+07
17  0.003757  0.003759  0.003761 -3.529354e+06
18  0.003757  0.003758  0.003759  1.963296e+07
19  0.003758  0.003759  0.003759  8.050672e+06
20  0.003759  0.003759  0.003759  2.260376e+06

In [18]:
df.iloc[-1].Mid

0.003759145736694336

## PAYBACK PERIOD

In [9]:
def payback(array):
    cumulative = -1
    counter = 0
    while cumulative < 0:
        cumulative += array[counter]
        counter +=1
    if cumulative > 0:
        cumulative -= array[counter]
        excess = (cumulative + array[counter])/array[counter]
        return counter + excess -1
    return counter

In [10]:
payback(cf['NET CASH FLOW'])
# cf['NET CASH FLOW']

282.25877906703073

In [20]:
binary_search(cf['NET CASH FLOW'], 1,0)

0.003759145736694336